@import "../../vars";

.bottomBar {
	background-color: $passwordsComp-bottomBar-bg;
	transition: all 0.3s;
	.top-bar {
		position: relative;
		height: $BottomBarHeight;
		width: 100%;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 21px;
		border-top: 2px solid $light-blue;
		user-select: none;
		> .button {
			border-radius: 2px;
			padding: 4px 6px;
			color: black;
			&:hover {
				cursor: pointer;
			}
			> span.label {
				margin-right: 10px;
			}
			&:active {
				transform: scale(0.95);
			}
		}
		> .newButton {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $viridian-green;
			&:hover {
				background-color: darken($viridian-green, 5);
			}
			&:active {
				background-color: lighten($viridian-green, 5);
			}
		}
		> .searchButton {
			margin-left: 10px;
			position: relative;
			color: black;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: darken($blue-purple, 5);
			transition: width 0.3s;
			&:hover {
				background-color: $blue-purple;
			}
			span.label.displayNone {
				display: none;
			}

			input {
				background-color: transparent;
				border: none;
				border-bottom: 1px solid black;
				font-size: 16px;
				margin: 3px 8px;
				transition: width 0.3s;
				animation: searchInputOpen 0.3s forwards;
				&.displayNone {
					width: 35px;
					animation: searchInputClose 0.3s forwards;
					display: none;
				}
				&:focus {
					outline: none;
				}
			}
			> span.close {
				padding: 0 5px;
				&:hover svg {
					color: $red;
				}
				&.displayNone {
					display: none;
				}
			}
			z-index: 1;
		}
		> .filterButton {
			margin-left: 10px;
			position: relative;
			color: black;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $lavender-gray;
			&:hover {
				background-color: $white-azure;
			}
			&:active {
				background-color: darken($lavender-gray, 5);
			}
			z-index: 1;
		}
		> .error {
			margin-left: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $red;
			> svg {
				color: $white-azure;
				margin-left: 5px;
				margin-right: 8px;
			}
		}

		> .filterToggle {
			//margin-left: 10px;
			position: relative;
			color: black;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $lavender-gray;
			&:hover {
				background-color: $white-azure;
			}
			&:active {
				background-color: darken($lavender-gray, 5);
			}
			z-index: 1;
		}

		.switch {
			z-index: 1;
			$switchHeight: 32px;
			position: absolute;
			display: inline-block;
			width: 60px;
			height: $switchHeight;
			//top: calc(#{$RowsHeaderHeight}*0.5 - #{$switchHeight}*0.5);
			right: 10px;
			input {
				opacity: 0;
				width: 0;
				height: 0;
				&:checked + .slider {
					background-color: #2196f3;
				}
				&:focus + .slider {
					box-shadow: 0 0 1px #2196f3;
				}
				&:checked + .slider:before {
					-webkit-transform: translateX(42px);
					-ms-transform: translateX(42px);
					transform: translateX(42px);
				}
			}
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				border-radius: 3px;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				> span {
					color: black;
					position: absolute;
					font-size: 12px;
					font-family: Verdana, sans-serif;
					font-weight: 600;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					user-select: none;
					padding: 5px;
				}
				.r {
					left: 16px;
					right: 0;
					/*justify-content: flex-end;*/
				}
				.c {
					right: -16px;
					left: 0;
					/*justify-content: flex-start;*/
				}
				&:before {
					content: "";
					position: absolute;
					height: 24px;
					width: 10px;
					left: 4px;
					bottom: 4px;
					background-color: white;
					-webkit-transition: 0.35s;
					transition: 0.35s;
				}
				&.round {
					//border-radius: 34px;
				}
				&.round:before {
					//border-radius: 50%;
				}
			}
		}
	}
	.bottom-bar {
		height: 0;
		transition: all 0.3s;
		position: relative;
		form.new,
		form.edit {
			width: 100%;
			height: 100%;
			position: relative;
			display: grid;
			grid-template-columns: 3% 40% 40% 3% 12% 2%;
			grid-template-rows: 5% repeat(4, 22.5%) 5%;
			div.input {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				span.inputWrapper {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: row;

					border-bottom: 2px solid $viridian-green;
					&:focus-within {
						border-bottom: 2px solid $blue-purple;
					}
					&.error {
						border-bottom: 2px solid $red;
						& svg {
							color: $red;
						}
					}
					label {
						margin-right: 1px;
						margin-left: 1px;
					}
					input {
						background-color: transparent;
						border: none;
						font-size: 19px;
						color: $lavender-gray;
						font-size: 16px;
						margin: 3px 3px;
						width: 190px;
						transition: all 0.3s;
						&::placeholder {
							user-select: none;
						}
						&#email {
							&:focus-within::-webkit-calendar-picker-indicator:hover {
								color: $blue-purple;
							}
							&::-webkit-calendar-picker-indicator {
								color: $white-azure;
								&:hover {
									color: $viridian-green;
								}

								background-color: transparent;
							}
						}
						&.open {
							width: 150px;
						}
						&:focus {
							outline: none;
						}
					}
				}
				&:nth-child(1) {
					grid-row: 2/4;
					grid-column: 2;
				}
				&:nth-child(2) {
					grid-row: 4/6;
					grid-column: 2;
				}
				&:nth-child(3) {
					grid-row: 2/4;
					grid-column: 3;
				}
				&:nth-child(4) {
					grid-row: 4/6;
					grid-column: 3;
				}
			}
			span.buttonwrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				&.close {
					grid-row: 2/4;
					grid-column: 5;
				}
				&.save {
					grid-row: 4/6;
					grid-column: 5;
				}
				span.button {
					padding: 4px;
					border-radius: 3px;
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					width: 70px;
					user-select: none;
					&:hover {
						cursor: pointer;
					}
					&:active {
						width: 65px;
						padding: 3px;
					}
					&.close {
						background-color: $red;
						&:hover {
							background-color: darken($red, 5%);
						}
					}
					&.save {
						background-color: $viridian-green;
						&:hover {
							background-color: darken($viridian-green, 5%);
						}
					}
				}
			}
		}
	}
	&:not(.closed) .bottom-bar {
		height: 140px;
		border-top: 2px solid $light-blue;
	}
	&.closing .bottom-bar {
		border-top: 2px solid $light-blue;
	}
	&.closed .bottom-bar {
		animation: border-bot 0.3s forwards;
	}
}

@keyframes searchInputOpen {
	0% {
		width: 35px;
	}
	100% {
		width: 150px;
	}
}
@keyframes border-bot {
	99% {
		border-top: 2px solid $light-blue;
	}
	100% {
		border-top: 2px solid transparent;
	}
}
