.Row {
	display: grid;
	grid-template-columns: $PasswordGrid;
	width: 100%;
	height: $row-height;
	font-size: 15px;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
	position: relative;
	transition: background-color 0.1s;
	&:not(:last-child) {
		border-bottom: 2px solid
			color.adjust($color: $passwordsComp-bg-color, $lightness: -10%);
	}
	&.isediting {
		border-right-color: $yellow;
		border-left-color: $yellow;
	}
	&.hidden {
		display: none;
	}
	div {
		display: flex;
		margin: 3px;

		&:hover:not(:last-child):not([username=""]) {
			background-color: color.adjust($color: $row-background,$lightness: 5%);
		}
		&:active:not(:last-child):not([username=""]) {
			background-color: color.adjust($color: $row-background,$lightness: 7%);
		}
		&:not(:last-child) {
			border-right: $gridBorder;
		}
		&:not(:last-child) {
			border-radius: 4px;
		}
		&:last-child {
			padding-left: 1px transparent;
			border-left: 1px solid
				color.adjust($color: $passwordsComp-bg-color, $lightness: -10%);
		}
		span.value {
			padding-left: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			user-select: none;
			> svg {
				margin-right: 5px;
				&.google-icon {
					color: $blue-jeans;
				}
			}
		}

		&.site {
			.value {
				&::first-letter {
					text-transform: capitalize;
				}
			}
		}
		&.buttons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			button {
				border: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 3px;
				font-size: 11px;
				background-color: transparent;
				color: white;
				padding: 8px;
				transform: scale(1.05);
				&:hover {
					background-color: color.adjust($color: $row-background,$lightness: 5%);
				}
				&:active {
					background-color: color.adjust($color: $row-background,$lightness: 7%);
				}
				&.update {
					color: $yellow;
					&.editMode {
						border: 2px solid $yellow;
					}
				}
				&.delete {
					color: $red;
				}
				&:focus {
					outline: none;
				}
				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
		}
	}
}

@keyframes editingAnim {
	0% {
		width: 3%;
	}
	50% {
		width: 15%;
	}
	100% {
		width: 3%;
	}
}
