@import "../../vars";

.Row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: $row-height;
	border: 1px solid;
	border-width: 0px 0 1px 0;
	position: relative;
	transition: background-color 0.1s; 
	&:hover {
		background-color: lighten($color: $passwordsComp-bg-color, $amount: 10%);
	}
	div {
		display: flex;
		&:not(.buttons) {
			width: 23%;
		}
		span.value {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
			border-radius: 5px;
			transition: background-color 0.1s;
			user-select: none;
			&:hover {
				background-color: darken($color: $passwordsComp-bg-color, $amount: 1%);
				svg {
					color:white;
				}
				z-index:1;
			}
			> svg {
				color:transparent;
				margin-left: 10px;
				border-radius: 2px;
				&:hover {
					background-color: lighten($color: $passwordsComp-bg-color, $amount: 5%);;
				}
			}
		}
		
		&.site {
			.value {
				&::first-letter {
					text-transform: capitalize;
				}
			}
		}
		&.buttons {
			width: 70px;
			button {
				padding: 5px;
				border: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 2px;
				&.update {
					background-color: yellow;
					&:hover {
						background-color: darken(yellow, 15%);
					}
				}
				&.delete {
					margin-left: 5px;
					background-color: $red;
					padding: 5px 6px 5px 6px;
					&:hover {
						background-color: darken($red,15%);
					}
				}
				&:focus {
					outline: none;
				}
			}
		}
	}
}