@import "../../../vars";

.SettingsComponent {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	flex-direction: column;
	b {
		font-size: 35px;
		color: purple;
	}
}