@import "../../vars";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #e1e1e6;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
.main {
	width: 100vw;
	height: 100vh;
	.navbar {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		top:0;
		z-index:2;
		width: 100%;
		height: $nav-height;
		background-color: $nav-bar-color;
		-webkit-app-region: drag;
		.left {
			flex: 0.7;
			display: flex;
			justify-content: flex-start;
			.toggleSideBar-button {
				-webkit-app-region: no-drag;
				padding: 15px;
				height: 100%;
				&:hover {
					background-color: $nav-bar-onhover-item-color;
				}
			}
	
			h3 {
				padding-left: 10px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				span {
					padding: 0 5px;
					user-select: none;
					b {
						font-family: monospace;
						font-size: 28px;
					}
					&:not(.divider) {
						background-color: $smooth-blue;
						border-radius: 5px;
						padding: 0;
						padding: 2px 5px;
					}
				}
			}
		}
		.rigth {
			flex: 0.3;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			div {
				-webkit-app-region: no-drag;
				&:hover {
					&.minimize { svg{ color: yellow; } }
					&.maximize { svg{ color: #004ec2; } }
					&.exit { svg{ color: $red; } }
					background-color: $nav-bar-onhover-item-color;
				}
			}
			svg {
				margin: 8px;
				&:last-child {
					margin-right: 10px;
				}
			}
		}
	}
	.content {
		margin:auto;
		position: absolute;
		top: $nav-height;
		width: 100%;
		height: calc(100vh - #{$nav-height});
		
		.sidebar {
			height: calc(100vh - #{$nav-height});
			width: 15%;
			min-width: 15%;
			background-color: $side-bar-color;
			float:left;
			position: fixed;
			bottom: 0;
			.app {
				width: 100%;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 10px;
				user-select: none;
				border-left: 4px solid transparent;
				transition: 0.3s;
				&.active {
					border-left: 4px solid $green;
				}
				svg {
					color: $green;
					transition: 0.2s;
					transform: translateX(-40px);
					opacity: 0;
				}
				&:hover {
					background-color: $nav-bar-onhover-item-color;
					svg {
						opacity: 1;
						transform: translateX(0);
					}
				}
			}
		}
		.active-app {
			&.SbClosed { width:100%; }
			&.SbOpen { 
				width: 85%;
				min-width: 85%;
				margin-left: 15%;
			}
			
			background-color: $active-app-bg-color;
		}
	}
}
