$nav-height: 50px;
$nav-bar-color: #23272A;
$side-bar-color: #2c2f33;
$nav-bar-onhover-item-color:  lighten($color: $nav-bar-color, $amount: 5%);
$active-app-bg-color: #55646e;
$green: #43b581;
$bs-green: #198754; /* roubei */
$light-green: #06b900;
$darker-green: #198754;
$red: #f04747;
$smooth-red: #F2594B;
$dark-red: #cd5b51;
$smooth-blue: #355c7a;
$light-blue: #2587b4;
$modal-background-color: #949494;
$modal-stripes-color: #ffffff;
$row-height: 45px;
$passwordsComp-bg-color: #373a41;
$passwordsComp-bottomBar-bg: #2b2d32;
$yellow: #fdd33d;
$yellow-orange: #f39c12;
$jet-black: #353238;
$viridian-green: #0E9594;
$blue-purple: #6B7FD7;
$lavender-gray: #D7DAE5;
$white-azure: #EDF7F6;
$rich-black: #051923;
$prussian-blue: #003554;
$sapphire-blue: #006494;
$green-blue: #0582CA;
$blue-jeans: #00A6FB;
$PasswordGrid: 22% 22% 22% 18% 16%;
$row-background: #2b3035;
$gridBorder: 0px solid darken($passwordsComp-bg-color, 10%);
$BottomBarHeight: 50px;
$RowsHeaderHeight: 40px;
$CardsHeaderHeight: $RowsHeaderHeight;
$SteamAccountCardLabelBackground: rgb(40, 40,40);