@import "../../../vars";

.PasswordsComponent {
	height: 100%;
	background-color: $passwordsComp-bg-color;
	width: 100%;
	display: flex;
	flex-direction: column;

	.Rows-header {
		flex: 0 0 $RowsHeaderHeight;
		position: sticky;
		width: calc(100%);
        display: grid;
        grid-template-columns: $PasswordGrid;
		background-color: $row-background;
		font-size: 20px;
		height: $RowsHeaderHeight;
		border-bottom: 2px solid $light-blue;
		user-select: none;
        div.Label {
            display: flex;
            //justify-content: center;
			padding-left: 5px;	 
            align-items: center;
            &:not(:last-child) {
              border-right: $gridBorder;
            }
        }
	}

	.Rows, .Cards {
		flex: 1;
		width: 100%;
		overflow-y: overlay;
		background-color: $passwordsComp-bottomBar-bg;
		&::-webkit-scrollbar {
			width: 5px;
            position: absolute;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			/*border-radius: 5px;*/
			background-color: $light-blue;
			transition: all 0.2s;
            position: absolute;
			&:active {
				background-color: $smooth-blue;
			}
		}
	}
	.Cards {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	/*.newButton {
		position: absolute;
		top: 5px;
		left: 5px;
		border-radius: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $light-green;
		padding: 4px;
		&:hover {
			background-color: $bs-green;
		}
	}
	.searchButton {
		position: absolute;
		top: 5px;
		left: 35px;
		color:black;
		border-radius: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $yellow;
		padding: 4px;
		&:hover {
			background-color: $yellow-orange;
		}
		z-index: 1;
	}*/
	.clearSearchFilterButton {
		position: absolute;
		top: 5px;
		left: 45px;
		border-radius: 2px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: $red;
		background-color: darken($color: $passwordsComp-bg-color, $amount: 5%);
		padding: 4px 4px 4px 20px;
		&:hover {
			background-color: lighten($color: $passwordsComp-bg-color, $amount: 5%);
		}
	}
}