$nav-height: 50px;
$nav-bar-color: #23272A;
$side-bar-color: #2c2f33;
$nav-bar-onhover-item-color:  lighten($color: $nav-bar-color, $amount: 5%);
$active-app-bg-color: #55646e;
$green: #43b581;
$darker-green: #198754;
$red: #f04747;
$smooth-blue: #355c7a;