$nav-height: 50px;
$nav-bar-color: #23272A;
$side-bar-color: #2c2f33;
$nav-bar-onhover-item-color:  lighten($color: $nav-bar-color, $amount: 5%);
$active-app-bg-color: #55646e;
$green: #43b581;
$bs-green: #198754; /* roubei */
$light-green: #06b900;
$darker-green: #198754;
$red: #f04747;
$smooth-blue: #355c7a;
$light-blue: #2587b4;
$modal-background-color: #949494;
$modal-stripes-color: #ffffff;
$row-height: 45px;
$passwordsComp-bg-color: #373a41;
$yellow: #f9ca24;
$yellow-orange: #f39c12;